@import url('reseter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('./assets/fonts/raleway-100.woff2') format('woff2'),
      url('./assets/fonts/raleway-100.woff') format('woff');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('./assets/fonts/raleway-400.woff2') format('woff2'),
      url('./assets/fonts/raleway-400.woff');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('./assets/fonts/raleway-600.woff2') format('woff2'),
      url('./assets/fonts/raleway-600.woff') format('woff');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('./assets/fonts/raleway-700.woff2') format('woff2'),
      url('./assets/fonts/raleway-700.woff') format('woff');
  }
}

/* General */
:root {
  --color-white: #ffffff;
  --color-black-30: rgba(0 0 0 / 30%);
  --color-violet: #818cf8;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

header,
footer {
  flex: 0 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button,
input {
  &:focus-visible {
    outline: 2px dotted var(--color-violet);
  }
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-color: transparent;
}

svg {
  fill: currentColor;
}

::selection {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.overlay-30 {
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-30);
    content: '';
  }
}
